---
layout: default
---
<div class="portfolio-container">
    <h1>Collection of my Projects</h1>
    <p>Welcome to my portfolio. Here you'll find a selection of my work.
        Explore my projects to learn more about what I do.</p>
    
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab">All</button>
        </li>
        {% for item in site.data.settings.tags %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="{{item.short}}-tab" data-bs-toggle="tab" data-bs-target="#{{item.short}}-tab-pane" type="button" role="tab">{{item.long}}</button>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" tabindex="0">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for item in site.data.portfolio %}
                <div class="col">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="/assets/images/thumbs/{{item.thumb}}" class="card-img-top" alt={{item.title}}>
                        <div class="card-body">
                            <h5 class="card-title">{{item.title}}</h5>
                            <p class="card-text">{{item.describe}}</p>
                            <a href="{{item.link}}" class="btn btn-primary">GitHub</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for foo in site.data.settings.tags %}
            <div class="tab-pane fade" id="{{foo.short}}-tab-pane" role="tabpanel" tabindex="0">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    {% for item in site.data.portfolio %}
                        {% for tag in item.tags %}
                            {% if tag==foo.short %}
                            <div class="col">
                                <div class="card h-100" style="width: 18rem;">
                                    <img src="/assets/images/thumbs/{{item.thumb}}" class="card-img-top" alt={{item.title}}>
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.title}}</h5>
                                        <p class="card-text">{{item.describe}}</p>
                                        <a href="{{item.link}}" class="btn btn-primary">GitHub</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    

</div>