@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
// outermost container
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", system-ui;
  font-size: 16;
}

// sidebar
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 100%;
  padding: 10px;
  background-color: #37474F;
  background-image: url("/../assets/images/bg.jpg");
}

.sidebar header {
  padding-bottom: 50px;
}

.sidebar li.nav-item {
  padding: 10px;
}

.avatar {
  width: 60%;
  border-radius: 100%;
  margin-top: 20%;
  margin-bottom: 10%;
}

ul.nav {
  padding-bottom: 20%;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.copyright {
  position: fixed;
  bottom: 0;
  list-style: none;
  color: gray;
  padding-left: 1%;
}

// main body container
main {
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 2%;
}